@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;1,400&family=IBM+Plex+Serif:ital,wght@0,400;0,500;1,400;1,500&display=swap");
@import "tailwindcss";
@import "tailwindcss-scroll-mask";

@theme {
  --font-display: "IBM Plex Serif", serif;
  --font-mono: "IBM Plex Mono", monospace;

  --text-2xs: 0.625rem;
  --text-3xs: 0.5rem;

  --breakpoint-md: 52rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-theme-50: var(--theme-50);
  --color-theme-100: var(--theme-100);
  --color-theme-300: light-dark(var(--theme-300), var(--theme-700));
  --color-theme-500: var(--theme-500);
  --color-theme-700: light-dark(var(--theme-700), var(--theme-300));
  --color-theme-900: var(--theme-900);
  --color-theme-950: var(--theme-950);
}

:root {
  color-scheme: light dark;

  --theme-50: var(--color-olive-50);
  --theme-100: var(--color-olive-100);
  --theme-200: var(--color-olive-200);
  --theme-300: var(--color-olive-300);
  --theme-400: var(--color-olive-400);
  --theme-500: var(--color-olive-500);
  --theme-600: var(--color-olive-600);
  --theme-700: var(--color-olive-700);
  --theme-800: var(--color-olive-800);
  --theme-900: var(--color-olive-900);
  --theme-950: var(--color-olive-950);

  --radius: 0.625rem;
  --background: light-dark(var(--theme-200), var(--theme-800));
  --foreground: light-dark(var(--theme-600), var(--theme-300));
  --card: var(--background);
  --card-foreground: var(--foreground);
  --popover: var(--background);
  --popover-foreground: var(--foreground);
  --primary: light-dark(var(--theme-800), var(--theme-100));
  --primary-foreground: var(--theme-50);
  --secondary: light-dark(var(--color-olive-100), var(--theme-900));
  --secondary-foreground: var(--primary);
  --muted: var(--secondary);
  --muted-foreground: light-dark(var(--theme-500), var(--theme-400));
  --accent: var(--secondary);
  --accent-foreground: var(--primary);
  --destructive: oklch(0.577 0.245 27.325);
  --border: light-dark(var(--theme-400), var(--theme-600));
  --input: light-dark(var(--theme-400), var(--theme-500));
  --ring: var(--theme-400);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: var(--secondary);
  --sidebar-accent-foreground: var(--primary);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@utility no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}

@utility no-scaling {
  & * {
    vector-effect: non-scaling-stroke;
    stroke-width: 1.25;
  }
}

@layer utilities {
  .bg-current-blended {
    background-color: light-dark(
      color-mix(in srgb, var(--current-color) 75%, var(--color-background)),
      color-mix(in srgb, var(--current-color) 80%, var(--color-background))
    );
  }
}
